@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: "Inter", sans-serif ;
  padding: 0;
  margin: 0;
}

/*--
/ --color = class bg-*
 */
@theme static {
  --font-title: 'Poppins', sans-serif;
  --font-default: 'Inter', sans-serif;

  --color-dark: #0F172A;
  --color-text-dark: #F1F5F9;
  --color-cards-dark: #1E293B;
  --color-primary-dark: #38BDF8;
  --color-secondary-dark: #60A5FA;

  --color-light: #F8FAFC;
  --color-text: #1E293B;
  --color-cards: #FFFFFF;
  --color-primary: #0284C7;
  --color-secondary: #38A3C4;
}
